.login {
    margin-top: 5%;
}

html { 
  background: url(images/bg.jpg) no-repeat center center fixed!important; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}